@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Tenor Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin-bottom: 80px;
}

.nav {
  font-family: "Bodoni Moda", serif;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 20px 20px 40px 20px;
  font-size: 1.7em;
  text-align: center;
  color: black;
  line-height: 0.8em;
}

.photo {
  margin: 40px;
  padding: 25px 10px 50px 10px;
}

.descriotion {
  margin: 0px 20px 10px 20px;
  padding: 0px 0px 10px 0px;
}

.share1 {
  display: flex;
}

.fad {
  padding-left: 220px;
  font-size: 1.2em;
}

.text-descp {
  font-size: 1.1em;
  justify-content: space-between;
  color: rgb(85, 85, 85);
  padding-bottom: 10px;
}

.color-size {
  display: flex;
  margin: 10px 20px 0px 20px;
  padding: 10px 0px 20px 0px;
}

.circle-color {
  display: flex;
  margin: 0px 40px 0px 0px;
}

.color {
  color: rgb(85, 85, 85);
}

.cir1 {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgba(15, 20, 13, 1);
  margin-left: 10px;
}

.cir2 {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgba(221, 133, 96, 1);
  margin-left: 10px;
}

.cir3 {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgba(225, 224, 219, 1);
  margin-left: 10px;
}

.circle-color-size {
  display: flex;
}

.size {
  color: rgb(85, 85, 85);
}

.cir4 {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: rgba(51, 51, 51, 1);
  margin-left: 10px;
  display: grid;
  place-items: center;
  color: white;
}

.cir5,
.cir6 {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: white;
  margin-left: 10px;
  display: grid;
  place-items: center;
}

#price {
  color: rgb(221, 133, 96);
  font-size: 1.1em;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: black;
  color: aliceblue;
  padding: 21px 0px;
  font-size: 1.2em;
}

.text-desc {
  color: black;
  justify-content: space-between;
  font-size: 1.4em;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.plus {
  padding-left: 20px;
}

.text-footer {
  text-transform: uppercase;
  padding-left: 30px;
}

.heart {
  padding-left: 140px;
}

@media (min-width: 768px) {
  .fad {
    padding-left: 560px;
    font-size: 1.8em;
  }
  .heart {
    padding-left: 510px;
    font-size: 1.6em;
  }
  .circle-color {
    margin: 0px 130px 0px 0px;
  }
  .text-descp {
    font-size: 1.9em;
  }
  .text-desc {
    font-size: 1.9em;
  }
  #price {
    font-size: 1.9em;
  }
  .color-size {
    font-size: 1.9em;
  }
  .cir1 {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .cir2 {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .cir3 {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .cir4 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  .cir5 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  .cir6 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
}

@media (min-width: 1200px) {
  .fad {
    padding-left: 1100px;
    font-size: 1.8em;
  }
  .heart {
    padding-left: 1050px;
    font-size: 1.6em;
  }
}
